The print() function is used to output data to the standard output device, typically the console.

In [ ]:
print("Welcome!!!")

Welcome!!!

Print a your favourite book/movie title

In [ ]:
print("Cast Away")

Cast Away

In [ ]:
print(25)

25

In [ ]:
print(176.5)

176.5

#Rules for variable naming
Must start with a letter (a-z, A-Z) or an underscore (_).

Can be followed by letters, digits (0-9), or underscores.

Cannot start with a digit.

Are case-sensitive (Age and age are different)

Examples:

Valid: myVariable, _my_variable, variable123

Invalid: 1variable, variable-name, variable!

In [ ]:
#variable initialization
age=44
Age=7
print(age)
print(Age)

44
7

In [ ]:
acc_balance=10000

In [ ]:
print(acc_balance)

10000

Printing variable values

In [ ]:
print("My age is ",age)

My age is  25

In [ ]:
acc_balance=123456
print("Account balance = R",acc_balance)

Account balance = R 10000

In [ ]:
age=30
print("My age is", age)

My age is age

# Programming comments
Comments in programming are text notes included within the code to provide explanations, clarifications, or to leave reminders for developers. They are ignored by the compiler or interpreter, meaning they do not affect the execution of the code.



single line comment: #

multiple line comment:

"""
This is

a multiline

comment
"""

In [ ]:
# print statement to display age value
print("My age is ",age)

In [ ]:
"""
print statement
to display
Hello message
"""
print("Hello")

Hello

In [ ]:
#Task - Initialize height variable and print it

In [ ]:
#initialising string variable
name="Sibo"
print("My name is ", name)

My name is  Sibo

In [ ]:
#Task - Initialize country and capital variable and print them

#Special characters

\n New line character - adds a line break in the text.

\t - adds a tab in the text

In [ ]:
print("My name is Nilay. I worked at Digital Regenesys. My skills include Data Science and AI")

My name is Nilay. I worked at Digital Regenesys. My skills include Data Science and AI

In [ ]:
print("My name is Nilay.\tI worked at Digital Regenesys.\tMy skills include Data Science and AI")

My name is Nilay.	I worked at Digital Regenesys.	My skills include Data Science and AI

In [ ]:
#add \n in the following print statement
print("This is for the first time I am writing Python code. Python seems quite simple. I am loving it.")

In [ ]:
#add \t in the following print statement
print("This is for the first time I am writing Python code. Python seems quite simple. I am loving it.")

Data Types in Python
- int
- float
- string
- boolean
- list
- tuple
- dictionary

In [ ]:
# data type
age=33
type(age)

int

In [ ]:
height=177.8
type(height)

float

In [ ]:
country="Kenya"
type(country)

str

In [ ]:
# get the data type of height, country, name using type()

In [ ]:
#computation using variable
#addition code
x=5
y=2
sum=x+y
print(sum)

7

In [ ]:
#printing z value i.e. output
print("The sum of x and y is ",sum)

The sum of x and y is  7

In [ ]:
#printing input values i.e. x and y along with output value i.e. z
print("The sum of", x ," and ", y," is ",sum)

The sum of 5 and 2  is  7

#Arithmetic operators :
Addtion: +

x+y

Subtraction: -  

x-y


Multiplication: *

x*y

Division: /

x/y


Integer division: //

x//y


Modulus (Remainder):  %

x%y


Exponent: **

x**y

In [ ]:
x,y

(5, 2)

In [ ]:
difference=x-y
print(difference)

product=x*y
print(product)

quotient=x/y
print(quotient)

In [ ]:
# Rrefined code with appropriate statements
print("The subtraction of", x ,"and", y," is ",difference)
product=x*y
print("The multiplication of", x ,"and", y," is ",product)
quotient=x/y
print("The division of", x ,"and", y," is ",quotient)

The subtraction of 5 and 2  is  3
The multiplication of 5 and 2  is  10
The division of 5 and 2  is  2.5

In [ ]:
result = x**y
print(result)

25

In [ ]:
#Task - Initialize variables a and b, calculate their subtraction, multiplcation and division and print their final output

#Keywords
Python has a set of reserved words that have special meanings and cannot be used as identifiers (such as variable names, function names, etc.). These reserved words are known as keywords. Here's a list of all the Python keywords:

In [ ]:
import keyword
print("Following is the list of keywords in Python")
print(keyword.kwlist)

Following is the list of keywords in Python
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#billing app for coffee shop
#initialise variables
unit_price=10
order_count=5

#calculate bill amount
bill_amount=unit_price*order_count

#print the output
print("The unit price = R",unit_price)
print("The order count = ",order_count)
print("The bill amount = R",bill_amount)

The unit price = R 10
The order count =  5
The bill amount = R 50

In [ ]:
"""
Write a Python code to
calculate sum of marks obtained in three subjects (maximum marks for each subject: 100)
and print the final output
"""

# input() Function
The input() function is used to take input from the user. It reads a line from the input (usually from the user via the keyboard) and returns it as a string.

In [1]:
x=input("Enter the value of x")
y=input("Enter the value of y")
sum=x+y
print(sum)

Enter the value of x10
Enter the value of y20
1020

In [2]:
type(x)

str

In [ ]:
x=int(input("Enter the value of x"))
y=int(input("Enter the value of y"))
sum=x+y
print(sum)

Billing app for coffee shop

In [ ]:
#initialise variables
unit_price=float(input("Enter the unit price:"))
order_count=int(input("Enter the order count:"))

Enter the unit price:10.5
Enter the order count:6

In [ ]:
#calculate bill amount
bill_amount=unit_price*order_count

#print the output
print("The unit price = R",unit_price)
print("The order count = ",order_count)
print("The bill amount = R",bill_amount)

The unit price = R 10.5
The order count =  6
The bill amount = R 63.0

In [ ]:
"""
Task- Write a Python code to accept marks of three subjects using input function and
calculate sum of marks (maximum marks for each subject: 100)
and print the final output
"""

In [ ]:
"""
Task- Write a Python code for the following scenario:
A household consumes 350 units of electricity in a month, with the rate per unit being $0.15.
Calculate the total electricity bill for the month and display the units consumed, rate per unit, and total electricity bill.

"""

In [ ]:
"""
Write a Python code for the following scenario:
For a given value of basic salary, calaculate gross salary considering HRA as 20%, DA as 50% and PF as 11%.
"""