The print() function is used to output data to the standard output device, typically the console.

In [ ]:
# 1. Descriptive and meaningful names

# Storing the name of a student
student_name = "Alice"
print("Student Name:", student_name)

# Storing total marks obtained by a student
total_marks = 95
print("Total Marks:", total_marks)

# Storing the value of Pi, used in mathematical calculations
pi_value = 3.14159
print("Value of Pi:", pi_value)

# Storing the brand name of a car
car_brand = "Toyota"
print("Car Brand:", car_brand)

# Storing the salary of an employee in dollars
employee_salary = 75000.50
print("Employee Salary: $", employee_salary)

# 2. Following Python naming conventions

# Storing the maximum speed limit of a vehicle in km/h
max_speed = 120
print("Max Speed:", max_speed, "km/h")

# Storing the number of students in a class
num_of_students = 45
print("Number of Students:", num_of_students)

# Boolean variable indicating whether a user is logged in or not
is_logged_in = True
print("Is User Logged In?", is_logged_in)

# Storing the first name of a person
first_name = "John"
print("First Name:", first_name)

# Storing the discount percentage on a product
discount_percentage = 10.5
print("Discount Percentage:", discount_percentage, "%")

In [ ]:
Example 1: Guess the Output
# Guess the output
a = 5
b = 10
print(a + b)

Example 2: Identify the Error
# Identify the error
x = 10
y = 20
print(x + y)
print(z)

Printing Variable Values

Example 3: Guess the Output
# Guess the output
name = "Alice"
age = 25
print(name)
print(age)

Example 4: Identify the Error
# Identify the error
city = "New York"
print("City: " city)

Printing Text and Variable Value
Example 5: Guess the Output



# Guess the output
item = "Laptop"
price = 999.99
print("The price of the", item, "is $", price)

Example 6: Identify the Error
# Identify the error
temperature = 22.5
print("The temperature is " temperature " degrees Celsius")

In [ ]:

Arithmetic Operations
Example 9: Guess the Output
# Guess the output
a = 15
b = 4
print(a // b)
print(a % b)

Example 10: Identify the Error
# Identify the error
x = 10
y = 0
print(x / y)
Input Function

Example 11: Guess the Output
# Guess the output
name = input("Enter your name: ")
print("Hello, " + name + "!")

Example 12: Identify the Error
# Identify the error
age = input("Enter your age: ")
print("You are " + age + " years old")

Example 13: Guess the Output
# Guess the output
a = 5
b = 3
result = a ** b
print("The result is:", result)

Example 14: Identify the Error
# Identify the error
length = 7
width = 4
area = length * width
print("The area of the rectangle is " area)

Example 15: Guess the Output
# Guess the output
num1 = 8
num2 = 2
print("Sum:", num1 + num2)
print("Difference:", num1 - num2)
print("Product:", num1 * num2)
print("Quotient:", num1 / num2)

Example 16: Identify the Error
# Identify the error
text = " is fun"
print(text + !)

Example 17: Guess the Output
# Guess the output
x = 25
y = 5
z = x % y
print("The remainder is:", z)

Example 18: Identify the Error
# Identify the error
message = "Welcome to  programming"
print("Message: " message)

Example 19: Guess the Output
# Guess the output
value = input("Enter a number: ")
print("You entered:", value)

Example 20: Identify the Error
# Identify the error
x = 10
y = 5
result = x + y
print("The sum of x and y is: " + result)

In [ ]:
print("Welcome!!!")

Welcome!!!

Print a your favourite book/movie title

In [ ]:
print("Cast Away")

Cast Away

In [ ]:
print(25)

25

In [ ]:
print(176.5)

176.5

#Rules for variable naming
Must start with a letter (a-z, A-Z) or an underscore (_).

Can be followed by letters, digits (0-9), or underscores.

Cannot start with a digit.

Are case-sensitive (Age and age are different)

Examples:

Valid: myVariable, _my_variable, variable123

Invalid: 1variable, variable-name, variable!

In [ ]:
#variable initialization
age=44

print(age)

age=33

print(age)

44
33

In [ ]:
acc_balance=10000

In [ ]:
print(acc_balance)

10000

In [ ]:
coffee_price=20
print(coffee_price)

20

In [ ]:
distance_to_work=10
print(distance_to_work)

10

Printing variable values

In [ ]:
age=25
print("My age is ",age)

My age is  25

In [ ]:
acc_balance=123456
print("Account balance = R",acc_balance)

Account balance = R 123456

In [ ]:
age=30
print("My age is", age)

My age is age

# Programming comments
Comments in programming are text notes included within the code to provide explanations, clarifications, or to leave reminders for developers. They are ignored by the compiler or interpreter, meaning they do not affect the execution of the code.



single line comment: #

multiple line comment:

"""
This is

a multiline

comment
"""

In [ ]:
# print statement to display age value
print("My age is ",age)

My age is  33

In [ ]:
"""
print statement
to display
Hello message
"""
print("Hello")

Hello

In [ ]:
amount=100
print(amount)

100

In [ ]:
#Task - Initialize height variable and print it

In [ ]:
#variable
yearly_sacco_dividends=10000.879
print("The sacco yearly profit is KES =", yearly_sacco_dividends)

The sacco yearly profit is KES = 10000.879

In [ ]:
Force=10
print("My power",Force)

In [ ]:
Force="10w @ 100K"
print("My power",Force)

My power 10w @ 100K

In [ ]:
#initialising string variable
name="Sibo"
print("My name is ", name)

My name is  Sibo

In [ ]:
#Task - Initialize country and capital variable and print them

In [ ]:
x,y,z=1,2,3
print=(x,y,z)

In [ ]:
country = 'India'
city = 'New Delhi'
print (country, 's capital city is ', city)

India s capital city is  New Delhi

In [ ]:
country = "Kenya"
City = "Nairobi"
print(country, "capital city is",City)

Kenya capital city is Nairobi

In [ ]:
country = "Kenya"
population = 50000000
print(country, "population is",population)

Kenya population is 5000000

In [ ]:
Age=28
name="Catherine Wairimu Muiruri"
Live="Allsoaps"
print("My name is",name, "I am",Age,"years old", and I live in",Live)

In [ ]:
F= "Kawo @ 75"
R= 200000000.986
E= "People"
D= "And over 1 billion animals"
print(F,R,E,D)

Kawo @ 75 200000000 People And over 1 billion animals

In [ ]:
location="Bushbuckridge"
date_=29
month="december"
year=1993
print("I was born in ",location, " on the " , date_, "of", month," ", year)

TypeError: 'tuple' object is not callable

#Special characters

\n New line character - adds a line break in the text.

\t - adds a tab in the text

In [ ]:
print("My name is Nilay. I worked at Digital Regenesys. My skills include Data Science and AI")

My name is Nilay. I worked at Digital Regenesys. My skills include Data Science and AI

In [ ]:
print("My name is Nilay.\tI worked at Digital Regenesys.\tMy skills include Data Science and AI")

My name is Nilay.	I worked at Digital Regenesys.	My skills include Data Science and AI

In [ ]:
#add \n in the following print statement
print("This is for the first time I am writing Python code. \nPython seems quite simple. \nI am loving it.")

This is for the first time I am writing Python code.
Python seems quite simple.
I am loving it.

In [ ]:
#add \t in the following print statement
print("This is for the first time I am writing Python code. Python seems quite simple. I am loving it.")

Data Types in Python
- int
- float
- string
- boolean
- list
- tuple
- dictionary

In [ ]:
# data type
age=33
type(age)

int

In [ ]:
height=177.8
type(height)

float

In [ ]:
country="Kenya"
type(country)

str

In [ ]:
# get the data type of height, country, name using type()

In [1]:
#computation using variable
#addition code
# init. of variables
x=5
y=2
#calculation
sum=x+y
#display the result
print(sum)

7

In [ ]:
#printing sum value i.e. output
print("The sum of x and y is ",sum)

The sum of x and y is  7

In [ ]:
#printing input values i.e. x and y along with output value i.e. z
print("The sum of", x ," and ", y," is ",sum)

The sum of 5 and 2  is  7

#Arithmetic operators :
Addtion: +

x+y

Subtraction: -  

x-y


Multiplication: *

x*y

Division: /

x/y


Integer division: //

x//y


Modulus (Remainder):  %

x%y


Exponent: **

x**y

In [ ]:
x,y

(5, 2)

In [ ]:
difference=x-y
print(difference)

product=x*y
print(product)

quotient=x/y
print(quotient)

In [ ]:
# Rrefined code with appropriate statements
print("The subtraction of", x ,"and", y," is ",difference)
product=x*y
print("The multiplication of", x ,"and", y," is ",product)
quotient=x/y
print("The division of", x ,"and", y," is ",quotient)

The subtraction of 5 and 2  is  3
The multiplication of 5 and 2  is  10
The division of 5 and 2  is  2.5

In [4]:
result = x**y
print()

15625

In [ ]:
#Task - Initialize variables a and b, calculate their subtraction, multiplcation and division and print their final output

#Keywords
Python has a set of reserved words that have special meanings and cannot be used as identifiers (such as variable names, function names, etc.). These reserved words are known as keywords. Here's a list of all the Python keywords:

In [ ]:
import keyword
print("Following is the list of keywords in Python")
print(keyword.kwlist)

Following is the list of keywords in Python
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#billing app for coffee shop
#initialise variables
unit_price=10
order_count=5

#calculate bill amount
bill_amount=unit_price*order_count

#print the output
print("The unit price = R",unit_price)
print("The order count = ",order_count)
print("The bill amount = R",bill_amount)

The unit price = R 10
The order count =  5
The bill amount = R 50

In [ ]:
"""
Write a Python code to
calculate sum of marks obtained in three subjects (maximum marks for each subject: 100)
and print the final output
"""

# input() Function
The input() function is used to take input from the user. It reads a line from the input (usually from the user via the keyboard) and returns it as a string.

In [ ]:
x=input("Enter the value of x")
y=input("Enter the value of y")
sum=x+y
print(sum)

Enter the value of x10
Enter the value of y20
1020

In [ ]:
type(x)

str

In [ ]:
x=int(input("Enter the value of x"))
y=int(input("Enter the value of y"))
sum=x+y
print(sum)

Billing app for coffee shop

In [ ]:
#initialise variables
unit_price=float(input("Enter the unit price:"))
order_count=int(input("Enter the order count:"))

Enter the unit price:10.5
Enter the order count:6

In [ ]:
#calculate bill amount
bill_amount=unit_price*order_count

#print the output
print("The unit price = R",unit_price)
print("The order count = ",order_count)
print("The bill amount = R",bill_amount)

The unit price = R 10.5
The order count =  6
The bill amount = R 63.0

In [ ]:
"""
Task- Write a Python code to accept marks of three subjects using input function and
calculate sum of marks (maximum marks for each subject: 100)
and print the final output
"""

In [ ]:
"""
Task- Write a Python code for the following scenario:
A household consumes 350 units of electricity in a month, with the rate per unit being $0.15.
Calculate the total electricity bill for the month and display the units consumed, rate per unit, and total electricity bill.

"""

In [ ]:
"""
Write a Python code for the following scenario:
For a given value of basic salary, calaculate gross salary considering HRA as 20%, DA as 50% and PF as 11%.
"""